.color-select-horario > option {
    background-color: #00c0ef;
    color: #fff;
}
.color-select-horario > option:disabled {
    background-color: #fc6161;
    color: #fff;
}
.color-select-horario > option:selected {
    background-color: #00a65a;
    color: #fff;
}